# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [3]:
my_set = set(range(1,11))
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [4]:
my_set.add(11)
my_set.remove(1)
print(my_set)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [5]:
set1 = set(range(1,6))
set2 = set(range(2,11,2))

print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [6]:
x = set(x**2 for x in range(1, 11))
print(x)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [7]:
my_new_set = set(x for x in my_set if x%2 == 0)
my_new_set

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [9]:
set_x = set([11, 5, 1, 1, 7, 8, 0, 11])
print(set_x)

{0, 1, 5, 7, 8, 11}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [ ]:
set_a = set(range(1, 6))
set_b = set(range(1, 4))

print(set_a.issuperset(set_b))
print(set_b.issubset(set_a))

True
True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [12]:
fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [16]:
set1 = set(range(1, 6))
my_list = list(set1)
print(my_list)
my_list.append(6)
new_set = set(my_list)
print(new_set)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [17]:
d = {
    frozenset({"Sola"}): 3,
    frozenset({"Toba"}): 7,
    frozenset({"Temi"}): 11
}
print(d)

{frozenset({'Sola'}): 3, frozenset({'Toba'}): 7, frozenset({'Temi'}): 11}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [18]:
x = set(range(1, 11))
for i in x:
    print(i)

1
2
3
4
5
6
7
8
9
10

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [23]:
x = set(range(1, 11))
b = x.copy()
for i in b:
    x.remove(i)
    print(x)

{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{8, 9, 10}
{9, 10}
{10}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [25]:
set_a = set(range(1, 6))
set_b = set(range(5, 10))

set_a.symmetric_difference_update(set_b)
set_a

{1, 2, 3, 4, 6, 7, 8, 9}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [27]:
set_a = set(range(1, 6))
print(12 in set_a)

False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [29]:
a = set(((1, 5), (9, 0)))
print(a)

{(9, 0), (1, 5)}